<div data-pane-key="home" data-scroll-lock-ignore="" data-menu-depth="0">
  {% assign mobile_links = linklists['main-menu'] %}
  <mobile-nav-menu-list>
    <script type= "application/json" id="mobile-nav-menu-list">
      {
        "data": {% render 'mobile-menu-JSON', mobile_links: mobile_links %}
      }
    </script>
  </mobile-nav-menu-list> 

  <mobile-react-megamenu-product class="mobile_menu__promo_blocks" data-position="bottom">
    <script type= "application/json" id="mobile-menu-product">
      {
        "data": {% render 'mobile-megamenu-product-json', blocks: blocks %}
      }
    </script>
  </mobile-react-megamenu-product>
</div>