{{ 'store-locator-dd.css' | asset_url | stylesheet_tag }}

<div class="storeDd-wrapper">
    <div class="storeDd-wrapper__optionsWrap">
        <p class="storeDd-wrapper__storeName">Clarkston Dermatology</p>
        <a href="/collections/clarkston" class="storeDd-wrapper__options-box checked">
            <div class="storeDd-wrapper__storeAddress">5701 Bow Pointe Drive Suites 215 & 217, Village of Clarkston, MI 48346</div>
            <div class="storeDd-wrapper__button">
               {% render 'store-dd-checked-icon' %}
            </div>
        </a>
    </div>
      <div class="storeDd-wrapper__optionsWrap">
        <p class="storeDd-wrapper__storeName">The Skin Care Center</p>
        <a href="/collections/clarkston" class="storeDd-wrapper__options-box checked">
            <div class="storeDd-wrapper__storeAddress">2551 Compass Rd. Suite 105 Glenview, IL 60026</div>
            <div class="storeDd-wrapper__button">
               {% render 'store-dd-checked-icon' %}
            </div>
        </a>
    </div>
      <div class="storeDd-wrapper__optionsWrap">
        <p class="storeDd-wrapper__storeName">Dermatologists Of Southwest Ohio</p>
        <a href="/collections/clarkston" class="storeDd-wrapper__options-box checked">
            <div class="storeDd-wrapper__storeAddress">5300 Far Hills Ave Suite 300 Dayton, OH 45429</div>
            <div class="storeDd-wrapper__button">
               {% render 'store-dd-checked-icon' %}
            </div>
        </a>
    </div>

    <!-- <div class="storeDd-wrapper__optionsWrap">
        <p class="storeDd-wrapper__storeName">Sample store</p>
        <div class="storeDd-wrapper__options-box">
            <div class="storeDd-wrapper__storeAddress">5701 Bow Point Dr.Suites 215 & 217Clarkston, MI 48346</div>
            <div class="storeDd-wrapper__button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <circle cx="15" cy="15" r="14.5" stroke="#1A428A"/>
              </svg></div>
        </div>
    </div> -->
</div>

