{{ 'store-locator-header.css' | asset_url | stylesheet_tag }}
{{ 'store-locator-dd.css' | asset_url | stylesheet_tag }}

<div
  class="
    store-locator
    store-locator--{{ scope }}
  "
>
  <div class="store-locator__wrapper">
    <div class="store-locator__icon">
      {% render 'store-loc-icon' %}
    </div>
      <store-locator>
        <script id="storeLocator-data" type="text/json">
          {
              "data": {% render 'JSON-store-locator' , section:section %}
          }
        </script>
      </store-locator>
  </div>
</div>
