{{ 'store-locator-header.css' | asset_url | stylesheet_tag }}




<div
    class="
      store-locator
      store-locator--{{ scope }}
    ">
    <div class="store-locator__wrapper">
        <div class="store-locator__icon">
           {% render 'store-loc-icon' %}
        </div>
        <div class="store-locator__container">
            <div class="store-locator__title">
                <p>Shop from</p>
            </div>
            <div class="store-locator__location" data-location>
                <p>Clarkston </p>
                {% render 'store-dropdown-icon' %}
                <div class="store-locator__location-list">
                    {% render 'store-locator-dd' %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="{{ 'store-locator.js' | asset_url }}"></script>
