@import 'breakpoints';

.banner__desktop-image-wrapp img, .banner__mob-image-wrapp img{
    max-width: 100% !important;
}
.banner__mob-image-wrapp{
    display: block;
    @media (--sm){
        display: none;
    }
}
.banner__desktop-image-wrapp{
    display: none;
    @media (--sm){
        display: block;
    }
}
.banner__text-wrapp{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    justify-content: var(--vertical-align);
    align-items: var(--horizontal-align);
    max-width:calc(1800px + (calc(4px * 4) * 2));
    max-width:calc(var(--max-width) + (var(--space-outer) * 2));
    max-width:calc(1800px + calc(calc(4px * 4) * 2));
    max-width:calc(var(--max-width) + calc(var(--space-outer) * 2));
    margin:0 auto;
    padding:calc(4px * 6) calc(4px * 4);
    padding:var(--spacing-6) var(--space-outer);
    flex-direction: column;
    color: #FFFFFF;
    line-height: 1.15;
}
.banner__subtext{
    font-size:12px;
    text-transform: uppercase;
    letter-spacing: .05em;
}
.banner__heading{
    font-size: var(--heading-font);
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
    font-style: var(--font-heading-style);
    letter-spacing: 0;
    letter-spacing: var(--font-heading-base-letter-spacing, 0);
}
@media (max-width: 720px){
    .banner__heading{
        font-size: var(--heading-font-mob);
    }
}
.banner__description{
    font-size:16px;
}
@media (max-width: 720px){
    .banner__text-wrapp{
        justify-content:var(--vertical-align-mob);
        align-items:var(--horizontal-align-mob);
    }
}
.banner_text-container{
    max-width:500px;
}
.button-wrapper{
    margin-top:20px;
    @media (min-width: 768px){
        margin-top:24px;
    }
}
.responsive-image__wrapper{
    max-width: 100% !important;
}