
@use 'StyleComponents/mixins';
@import 'breakpoints';

.featured-products-with-image{
   @include mixins.grid(2, 100px, 100px);
    .featured-products-grid{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        .product-item__inner {
            width: 200px;
            @media(--sm){
                width: initial;
            }
        }
 
        @media(--sm){
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 24px 12px; 
            overflow: hidden;
        }
        @media(--md){
            gap: 36px 16px;
        }
        @media(--md-large){
            gap: 40px 20px;
        }
    }
   
}
