
@import 'breakpoints';

.featured_products_with_image{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @media(--sm){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 32px;
    }

    .featured-products-grid{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        .product-item__inner {
            width: 200px;
            @media(--sm){
                width: initial;
            }
        }
 
        @media(--sm){
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 24px 12px; 
            overflow: hidden;
        }
        @media(--md){
            gap: 36px 16px;
        }
        @media(--md-large){
            gap: 40px 20px;
        }
    }
   
}
