.product-card-item__placeholder{ 
    width: 100%;
    height: 100%;
    .card__placeholder{
        display: flex;
        gap: 30px;
    }
}

.card {
    position: relative;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
    flex: 1 0 38%;
    @media(--sm){
        max-height: 460px;
        margin: 40px auto;
        flex: 1;
    }
    .shimmerBG {
        -webkit-animation-duration: 2.2s;
                animation-duration: 2.2s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-name: shimmer;
                animation-name: shimmer;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        background: #ddd;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 1200px 100%;
    }
    .media {
        height: 160px;
        @media(--sm){
            height: 200px;
        }
    }
    .p-32 {
        padding: 32px;
    }
    .title-line {
        height: 24px;
        width: 100%;
        margin-bottom: 12px;
        border-radius: 20px;
        display: none;
        @media(--sm){
            display: block;
        }
    }
    .content-line {
        height: 8px;
        width: 100%;
        margin-bottom: 12px;
        border-radius: 8px;
        @media(--sm){
            margin-bottom: 16px;
        }
    }
    .end {
        width: 40%;
        display: none;
        @media(--sm){
            display: block;
        }
    }
    .m-t-24 {
        margin-top: 14px;
        @media(--sm){
            margin-top: 24px;
        }
    }
}
@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}
