@use 'StyleComponents/typography';
@use 'StyleComponents/colors';

.store-locator{
        &__wrapper{
            display: flex;
            margin: 0 25px;
            align-items: center;
            gap: 7px;
            
        }
        &__container{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            @media (max-width: 960px){
                align-items: center;
            }
        }
        &__icon{
            line-height: 1;
        }
        &__title{
            font-size: typography.$body-title-size;
            font-weight: typography.$regular-weight;
        }
        &__location{
            display: flex;
            // justify-content: space-between;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            margin-top: -4px;
            font-size: typography.$body-regular-size;
            font-weight: typography.$regular-weight;
            
            svg {
                transition: 300ms ease all;
            }

            > p{
                color: #777777;
            }

            &.select-clicked {
                > svg {
                    transform: rotate(180deg);
                    transition: 300ms ease all;
                }
            }
        }
        &__location-list{
            position: absolute;
            top: 100%;
        }
    &--mobile{
        background: colors.$gray-400;
        .store-locator{
            &__wrapper{
                margin: 0 15px;
                padding: 10px 0;
            }
            &__container{
                flex-direction: row;
                width: 100%;
                gap: 14px;
            }
            &__title{
                white-space: nowrap;
            }
            &__location{
                flex-basis: 100%;
                margin: auto;
                font-size: typography.$body-title-size;
            }
        }
    }
    @media (min-width: 960px){
        &--mobile{
            display: none;
        }
    }
}
