/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/image-with-text-split-styles.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
.image-with-text-split {
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  background: #e5ded8;
}
.image-with-text-split .image-text__images {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.image-with-text-split .image-text__content {
  max-width: 520px;
}
