/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/subscriptions-section.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/components/subscription-sec.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
/*
.heading-1 {
    @include use-text-style('heading-1');
}
*/
:root {
  --gsc-button-background-color-100: #8F8D8D;
}

subscriptions {
  margin: var(--spacing-4) 0;
  display: block;
}

.subscription-container__value-tag {
  padding: 8px 0;
}

.subscription-container__subscription-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: 1px solid #8F8D8D;
  border: 1px solid var(--gsc-button-background-color-100);
  padding: 10px 5px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-column-gap: 5px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

@media only screen and (min-width: 1290px) {
  .subscription-container__subscription-wrapper {
    padding: 20px;
  }
}
.subscription-container__subscription-wrapper .subscription-container__subs-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 375px) {
  .subscription-container__subscription-wrapper .subscription-container__subs-text {
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}
.subscription-container__subscription-wrapper .subscription-container__subs-text label {
  cursor: pointer;
}

.subscription-container__subscription-wrapper .subscription-container__subs-text label .subscribeSave__text {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--paragraph-font);
}

.subscription-container__subscription-wrapper .subscription-container__subs-text label .subscription-container__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1290px) {
  .subscription-container__subs-price, .subscription-container__oneTime-Price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscription-container__oneTime-Price {
  color: #353B35;
}

.subscription-container__onetime-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: 1px solid #8F8D8D;
  border: 1px solid var(--gsc-button-background-color-100);
  padding: 10px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1290px) {
  .subscription-container__onetime-wrapper {
    padding: 20px;
  }
}
.subscription-container__oneTime-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-column-gap: 5px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

@media (min-width: 375px) {
  .subscription-container__oneTime-text {
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}
@media only screen and (min-width: 1290px) {
  .subscription-container__oneTime-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscription-container__oneTime-text label {
  cursor: pointer;
  font-family: var(--paragraph-font);
}

.subscription-container input[type=radio] {
  accent-color: #8F8D8D;
  accent-color: var(--gsc-button-background-color-100);
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: blue;
  width: 20px;
  height: 20px;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}

.subscription-container input[type=radio].active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  background: var(--color-button-primary-background);
  border-radius: 50%;
}

.subscription-container__dropbtn {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gsc-text-color-100);
  border: none;
  font-family: var(--primary-font-condensed);
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDEwTDEyIDE0TDggMTAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-position: right 0% bottom 50%;
  background-repeat: no-repeat;
}

.subscription-container__dropbtn-single {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gsc-text-color-100);
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

.select {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.select:focus {
  outline: none;
}

.radio__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.radio__button input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 36px;
  height: 20px;
  padding: 3px;
  background-clip: content-box;
  background-color: #fff;
  border-radius: 50%;
  border: 0.5px solid rgb(0, 0, 0);
}
@media (min-width: 390px) {
  .radio__button input {
    width: 26px !important;
  }
}
@media (min-width: 768px) {
  .radio__button input {
    width: 21px !important;
  }
}

.radio__button input[type=radio]:checked {
  background-color: #1A428A;
}
