@use 'StyleComponents/mixins';

.image-text {
  $parent: &; 
  @include mixins.grid(4, 100px, 100px);
  position: relative;
  &__content-wrapper {
    @include mixins.section-padding;
    &--style-1 {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
  }
  &__button {
    display: inline-block;
  }

  .responsive-image__wrapper {
    max-width: 100% !important;
  }
  &.image-with-text__split{
    column-gap: 0;
    row-gap: 0;
    .image-text__images--style-2{
      order: 2;
    }
    .image-text__content-wrapper--style-2{
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image-text__content--image-with-text__split{
        max-width: 520px;
      }
    }
  }
}
