@import 'swiper/css';
@import 'swiper/css/pagination';
 
.product-carousel {
    display: flex;

    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 0%;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: rgba(0, 0, 0, 0.8);
    --swiper-pagination-bullet-inactive-color: rgb(255, 255, 255);
    --swiper-pagination-bullet-inactive-opacity: 0.4;
    --swiper-pagination-bullet-width: 7px;
    --swiper-pagination-bullet-height: 7px;
    --swiper-pagination-bullet-border-radius: 7px;

    --swiper-pagination-bullet-border-color-custom: #303030;

    .swiper-pagination {
        .swiper-pagination-bullet {
            border: 1.5px solid var(--swiper-pagination-bullet-border-color-custom);
        }
    }
}
